body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
}

header a {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-55%);
    padding: 20px 0 0 30px;
    opacity: .9;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url(../images/gantas-vaiciulenas-QchymJS9iJ0-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}
.itd-containter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 15rem 0 0 0;
}

.itd-containter > .item {
    width: 100%;
    height: 250px;
}

.itd-containter > .item > img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 25px;
    margin-top: 40px;
    float: left;
}
.itd-containter > .item p {
    margin-bottom: 0rem;
}
.itd-containter > .i1 {background-color: rgba(0,0,0,.5);}
.itd-containter > .i2 { background-color: rgba(0,0,0,.5);}

.item-title {
    text-align: left;
    color: #fff;
    padding-top: 30px;
    padding-left: 25px;
}

.it-1{font-size: 17px; font-weight: 600; }
.it-2{color: #29b6f6;}

.item-content {
    display: inline-block;
    float: left;
    margin-top: 50px;
    margin-left: 25px;
    color: #fff;
}

.ic1 {
    font-size: 20px;
    font-weight: 500;
}

.item-arrow {
    font-size: 40px;
    color: #fff;
    float: right;
    padding-right: 40px;
    padding-top: 45px;
}