.content {
    margin-left: 180px;
    padding-top: 60px;
}

.test {
    display: inline-block;
}

.content-container {
    padding: 10px;
    border-bottom: 2px solid #bdbdbd;
}

.titleBox {
    padding-top: 40px;
}

.fa-star {
    color: #f4a825;
}

.edit-review {
    display: inline;
    float: right;
    padding-right: 10px;
    font-size: 25px;
}
.edit-review button {padding: 0 10px 0 0;}

.title-content {
    font-size: 17px
}

.subTitle {
    color: #0000008F;
    padding: 5px 0 10px 0;
}

.review-content {
    font-size: 14px;
    color: #000000DE;
}

.content-box {
    padding-top: 20px;
}

.swiper {
    width: 60%;
    height: 450px;
    margin: 10px 0;
}
.review-date {
    float: right;
    color: #0000008F;
    padding-bottom: 20px;
}