@charset "utf-8";


body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}

a {color: #fff; text-decoration: none;}
a:hover {color: #fff; cursor: pointer;}

ul,li,ol {list-style:none;}

img,fieldset {border:0 none;}

button {border: none;}

video,img {width: 100%;}

input:focus {outline:none;}
select:focus {outline:none;}