.reserve{
    display: flex;
    justify-content: center;
}

.left{
    width: 600px;
    height: 1000px;
    margin: 60px;
}

.center1{
    width: 500px;
    height: 900px;
    margin: 60px;
}

.center2{
    width: 500px;
    height: 900px;
    margin: 60px;
}

.reservation_information{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 70px;
}

.reservation_name{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reservation_phone{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reservation_email{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reservation_request{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#name{
    border: 1px solid black;
    width: 400px;
    height: 50px;
    font-size: 20px;
}

#phone{
    border: 1px solid black;
    width: 400px;
    height: 50px;
    font-size: 20px;
}

#email{
    border: 1px solid black;
    width: 400px;
    height: 50px;
    font-size: 20px;
}

#request{
    border: 1px solid black;
    width: 400px;
    height: 250px;
    font-size: 20px;
    vertical-align: top;
}

.right{
    width: 600px;
    height: 1000px;
    margin: 80px;
}

.camping_information{
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
    width: 450px;
    height: 200px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.camping_info{
    font-family: Ubuntu;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}

.camping_name{
    font-family: Arial;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 40px;
}

.camping_mention{
    font-family: Arial;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 40px;
}

.additional_options{
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
    width: 450px;
    height: 650px;
    font-weight: bold;
    font-size: 25px;
}

.options{
    font-family: Arial;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}

.option_list{
    font-family: Arial;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 40px;
}

.num{
    margin-left: 100px;
}

.list1{
    border: 1px solid black;
    margin-right: 50px;
    padding: 10px;
    margin-bottom: 20px;
}