<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampUs</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <script src="../../resources/static/js/common.js"></script>

</head>
<body>
<!-- common nav 예시 -->
<nav include-html="./common/nav.html"></nav>

<section style="height: 10px;">

</section>
<div id="content">
    <div class="main_spot"><a href="../../resources/templates/example.html">타닥타닥</a></div>

    <div class="main_link">
        <ul>
            <li><a href="../../resources/templates/example.html" menu-link="1"><span class="ico_01">&nbsp;</span>
                <p>캠핑장</p></a></li>
            <li><a href="../../resources/templates/example.html" menu-link="2"><span class="ico_02">&nbsp;</span>
                <p>카라반</p></a></li>
            <li><a href="../../resources/templates/example.html" menu-link="3"><span class="ico_03">&nbsp;</span>
                <p>글램핑</p></a></li>
            <li><a href="../../resources/templates/example.html" menu-link="4"><span class="ico_04">&nbsp;</span>
                <p>오토캠핑장</p></a></li>
        </ul>
    </div>

    <div class="recommend">
        <h2>게시판</h2>
        <ul>
            <li>
            <a href="../../resources/templates/example.html" target="_blank"><img
                    src="../../resources/static/images/night.jpg" alt="야경이 예쁜 곳"><strong>야경이 예쁜 곳"</strong>출장부터 복지까지<br>여기어때
                비즈니스로 스마트하게</a>
            </li>
            <li>
                <a href="../../resources/templates/example.html" target="_blank"><img
                        src="../../resources/static/images/together.jpg" alt="야경이 예쁜 곳"><strong>야경이 예쁜 곳"</strong>출장부터
                    복지까지<br>여기어때 비즈니스로 스마트하게</a>
            </li>
        </ul>
    </div>
</div>


<!-- common footer 예시 -->
<footer include-html="./common/footer.html"></footer>

<section style="height: 500px;"></section>
</body>


<script>
    includeHTML(function () {
        includeRouter(function () {
            // do something in the future
        });
    });
</script>


</html>