<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampUs Members</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    
    <!-- css -->
    <link rel="stylesheet" href="../../resources/static/css/common.css">
    <link rel="stylesheet" href="../../resources/static/css/introduce.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <script src="../../resources/static/js/common.js"></script>
</head>
<body>

    <header>
        <a href="../templates/home.html"><h1>CAMP_US</h1></a>
    </header>

    <section>
        <div id="introduce-section">
            <div class="container">
                <div class="itd-containter">

                    <!-- 인환님 -->
                    <div class="item i1">
                        <div class="item-title">
                            <p class="it-1">계속해서 성장해나가는 개발자가 되고 싶습니다!</p>
                            <p class="it-2">#지구정복</p>
                        </div>
                        <img src="../static/images/김인환.png" alt="Demuu">
                        <div class="item-content">
                            <p class="ic1">Demuu</p>
                            <p>CampUs Team</p>
                        </div>
                        <div class="item-arrow">
                            <a href="https://github.com/Preasim"><i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- 지산님 -->
                    <div class="item i2">
                        <div class="item-title">
                            <p class="it-1">계속해서 성장해나가는 개발자가 되고 싶습니다!</p>
                            <p class="it-2">#게임 #음악 #야구</p>
                        </div>
                        <img src="../static/images/강지산.jpeg" alt="hunm719">
                        <div class="item-content">
                            <p class="ic1">hunm719</p>
                            <p>CampUs Team</p>
                        </div>
                        <div class="item-arrow">
                            <a href="https://github.com/hunm719"><i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- 예진님 -->
                    <div class="item i1">
                        <div class="item-title">
                            <p class="it-1">내가 진짜 개발 짱 돼서 다 이긴다~</p>
                            <p class="it-2">#위스키 #영화</p>
                        </div>
                        <img src="../static/images/김녜진.png" alt="Luz">
                        <div class="item-content">
                            <p class="ic1">Luz</p>
                            <p>CampUs Team</p>
                        </div>
                        <div class="item-arrow">
                            <a href="https://github.com/yejinee"><i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- 지훈님 -->
                    <div class="item i2">
                        <div class="item-title">
                            <p class="it-1">심플하고 깔끔한 결과물을 만들어내는<br>개발자를 목표로 하고 있습니다!</p>
                            <p class="it-2">#칵테일 #ios</p>
                        </div>
                        <img src="../static/images/송지훈.PNG" alt="Green" style="margin-top: 20px;">
                        <div class="item-content" style="margin-top: 30px;">
                            <p class="ic1">Green</p>
                            <p>CampUs Team</p>
                        </div>
                        <div class="item-arrow" style="padding-top: 25px;">
                            <a href="https://github.com/greenwish81"><i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- 하늘님 -->
                    <div class="item i1">
                        <div class="item-title">
                            <p class="it-1">코드로 저를 표현하고 싶어요!</p>
                            <p class="it-2">#게임 #스터디윗미</p>
                        </div>
                        <img src="../static/images/진하늘.jpg" alt="luee">
                        <div class="item-content">
                            <p class="ic1">luee</p>
                            <p>CampUs Team</p>
                        </div>
                        <div class="item-arrow">
                            <a href="https://github.com/mewluee"><i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>

                    <!-- 재영님 -->
                    <div class="item i2">
                        <div class="item-title">
                            <p class="it-1">내 코드를 끊임없이 의심하는 개발자를 <br>목표로 하고 있습니다!</p>
                            <p class="it-2">#커피 #게임</p>
                        </div>
                        <img src="../static/images/최재영.png" alt="Ryan" style="margin-top: 20px;">
                        <div class="item-content" style="margin-top: 30px;">
                            <p class="ic1">Ryan</p>
                            <p>CampUs Team</p>
                        </div>
                        <div class="item-arrow" style="padding-top: 25px;">
                            <a href="https://github.com/220SRS"><i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>