<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampUs</title>


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>


    <!-- common 사용시 필요한 파일 링크 -->
    <link rel="stylesheet" href="../../resources/static/css/common.css">
    <link rel="stylesheet" href="../../resources/static/css/reset.css">
    <link rel="stylesheet" href="../../resources/static/css/sidebar.css">
    <link rel="stylesheet" href="../../resources/static/css/myPageReservation.css">


    <script src="../../resources/static/js/common.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>
<body>

<div id="body-wrap">

<!-- common nav 예시 -->
<nav include-html="./common/nav.html"></nav>

<div class="sidebar">
    <div class="container">
        <div class="sidebar-menu">
          <ul>
              <li><a href="../../resources/templates/myPageInfo.html">내 정보</a></li>
              <li><a class="active" href="../../resources/templates/myPageReservation.html">예약 내역</a></li>
              <li><a href="../../resources/templates/myPageReview.html">리뷰 관리</a></li>
          </ul>
        </div>
    </div>
  </div>

<div id="content">
    <!-- sidebar : 활성화 되어있는 목록명에 class = "active" 부여-->

    <div class="wrap">
        <div class="container" data-v-f012d516="">
            <h3 class="page-title pc-only" data-v-f012d516="">예약 내역</h3>
            <div class="tools">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select-filters">
                            <select name="used_type" id="used_type">
                                <option value="" selected="using">이용중</option>
                                <option value="complete">완료</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select-filters">
                            <select name="sort_date" id="sort_date">
                                <option value="" selected="">최근 6개월</option>
                                <option value="oldest">최근 1년</option>
                                <option value="recent">전체</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cards-container">
            </div>
        </div>
    </div>

</div>

<!-- common footer 예시 -->
<footer include-html="./common/footer.html"></footer>

</div>


</body>
<script src="../../resources/static/js/myPageReservation.js"></script>
<script src="../../resources/static/js/modal.js"></script>
<script>
    includeHTML(function () {
        includeRouter(function () {
            // do something in the future
        });
    });
</script>
</html>