<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampUs</title>


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>


    <!-- common 사용시 필요한 파일 링크 -->
    <link rel="stylesheet" href="../../resources/static/css/common.css">
    <link rel="stylesheet" href="../../resources/static/css/reset.css">
    <link rel="stylesheet" href="../../resources/static/css/sidebar.css">
    <link rel="stylesheet" href="../../resources/static/css/myPageReservation.css">


    <script src="../../resources/static/js/common.js"></script>

</head>
<body>

<!-- common nav 예시 -->
<nav include-html="./common/nav.html"></nav>


<div id="content" class="sub_wrap my_wrap clearfix">
    <!-- sidebar : 활성화 되어있는 목록명에 class = "active" 부여-->
    <nav>
        <ul>
            <li><a href="../../resources/templates/mypageInfo.html" class="">내 정보</a></li>
            <li><a class="active" href="../../resources/templates/myPageReservation.html">예약 내역</a></li>
            <li><a href="../../resources/templates/home.html" class="">리뷰 관리</a></li>
        </ul>
    </nav>

    <div class="align_rt">
        <div class="container align_rt" data-v-f012d516="">
            <h3 class="page-title pc-only testjs" data-v-f012d516=""></h3>
            <script>
                let a = "fkfkfkfkf";
                document.getElementsByClassName("testjs")[0].innerText = a;
            </script>

            <div class="tools">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select-filters">
                            <select name="used_type" id="used_type">
                                <option value="" selected="using">이용중</option>
                                <option value="complete">완료</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select-filters">
                            <select name="sort_date" id="sort_date">
                                <option value="" selected="">최근 6개월</option>
                                <option value="oldest">최근 1년</option>
                                <option value="recent">전체</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cards-container">
            </div>
        </div>
    </div>

    <!-- TODO : Demuu - 여기 페이지에도 일단 구현해놨어요. 근데 이렇게 하면 첫번째 카드에만 기능이 적용 됩니다...-->
    <div id="modalBox" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div><h4 class="modal-title" id="myModalLabel">00 캠핑장 </h4></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModalBtn"><span
                            aria-hidden="true">&times;</span></button>
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>-->
                </div>
                <div class="modal-body">
                    <div><span>💡💡💡💡💡💡</span></div>
                    <div class="reviewImg">
                        <img src="../../resources/static/images/night.jpg" alt="..." class="img-thumbnail rounded">
                    </div>
                    <p class="h5">리뷰 작성</p>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">확인</button>
                    <!--<button type="button" class="btn btn-default" id="closeModalBtn">취소</button>-->
                </div>
            </div>
        </div>
    </div>

</div>

<!-- common footer 예시 -->
<footer include-html="./common/footer.html"></footer>


</body>
<script src="../../resources/static/js/myPageReservation.js"></script>

<!-- TODO : Demmu - modal에 대한 기능이 정의되어있는 js파일입니닷 -->
<script src="../../resources/static/js/modal.js"></script>
<script>
    includeHTML(function () {
        includeRouter(function () {
            // do something in the future
        });
    });
</script>
</html>