<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampUs</title>


    <!-- common 사용시 필요한 파일 링크 -->
    <link rel="stylesheet" href="../../resources/static/css/common.css">
    <link rel="stylesheet" href="../../resources/static/css/reset.css">
    <link rel="stylesheet" href="../../resources/static/css/mypageInfo.css">
    <script src="../../resources/static/js/common.js"></script>

</head>
<body>
    <!-- common nav 예시 -->
    <nav include-html="./common/nav.html"></nav>

    <div class="container">
        <p class="sub_title">내 정보 수정</p>

        <div class="box">
            <img class= "profile" src="../static/images/레서.png" alt="Panda">
        </div>

        <b>닉네임</b>
        <span>껌껌한찰밥</span>

        <div>
            <button type="button" class="btn btn-outline-secondary">수정</button>
            <button type="button" class="btn btn-outline-secondary">수정 완료</button>
            <button type="button" class="btn btn-outline-secondary">수정 취소</button>
        </div>

        <b>예약자 이름</b>
        <span>최재영</span>
        <div>
            <button type="button" class="btn btn-outline-secondary">수정</button>
            <button type="button" class="btn btn-outline-secondary">수정 완료</button>
            <button type="button" class="btn btn-outline-secondary">수정 취소</button>
        </div>

        <b>휴대폰 번호</b>
        <span>01055564558</span>

        <div>
            <button type="button" class="btn btn-outline-secondary">수정</button>
            <button type="button" class="btn btn-outline-secondary">수정 완료</button>
            <button type="button" class="btn btn-outline-secondary">수정 취소</button>
        </div>
    </div>

    <section style="height: 500px;"></section>

    <!-- common footer 예시 -->
    <footer include-html="./common/footer.html"></footer>

</body>


<script>
    includeHTML( function () {
        includeRouter( function () {
            // do something in the future
        });
    });
</script>

</html>