<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampUs</title>


    <!-- common 사용시 필요한 파일 링크 -->
    <link rel="stylesheet" href="../../resources/static/css/common.css">
    <link rel="stylesheet" href="../../resources/static/css/reset.css">
    <link rel="stylesheet" href="../../resources/static/css/sidebar.css">
    <link rel="stylesheet" href="../../resources/static/css/myPageReservation.css">


    <script src="../../resources/static/js/common.js"></script>


</head>
<body>

<!-- common nav 예시 -->
<nav include-html="./common/nav.html"></nav>


<section style="height: 30px;"></section>

<div id="content" class="sub_wrap my_wrap">
    <!-- sidebar : 활성화 되어있는 목록명에 class = "active" 부여-->
    <nav>
        <ul>
            <li><a class="active" href="../resources/templates/home.html" class="">내 정보</a></li>
            <li><a href="../resources/templates/home.html">예약 내역</a></li>
            <li><a href="../resources/templates/home.html" class="">리뷰 관리</a></li>
        </ul>
    </nav>
    <div class="align_rt">
        <div class="reservation">
            <main class="container align_rt" data-v-f012d516="">
                <h3 class="page-title pc-only" data-v-f012d516="">예약 내역</h3>
            </main>
        </div>
        
    </div>


</div>


<!-- common footer 예시 -->
<footer include-html="./common/footer.html"></footer>


</body>


<script>
    includeHTML(function () {
        includeRouter(function () {
            // do something in the future
        });
    });
</script>
</html>