<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampUs</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- common 사용시 필요한 파일 링크 -->
    <link rel="stylesheet" href="../../resources/static/css/common.css">
    <link rel="stylesheet" href="../../resources/static/css/reset.css">
    <link rel="stylesheet" href="../../resources/static/css/searchpage.css">
    <script src="../../resources/static/js/common.js"></script>

</head>
<body>

    <div id="body-wrap">

            <!-- common nav 예시 -->
    <nav include-html="./common/nav.html"></nav>


    <section>
        <div id="top_search_page">
            <div>
                <span id="date">
                   <!-- <span class="date_view">
                        <b>3.29 ~ 3.30</b>
                        <em>&nbsp;·&nbsp;1박</em>
                    </span>-->
                    <span id="text_date">날짜</span>
                    <div class="btn_date">
                        <input class="input_date" type="date">
                    </div>
                </span>
                <span id="person">
                    <span id="text_person">인원</span>
                    <!--<div class="cnt_people" data-min="2" data-max="10" data-def="2">-->
                    <button type="button" class="disable dn">-</button>
                    <span id="person_count">2</span>
                    <button type="button" class=" up">+</button>

                </span>
                <span id="search">
                    <form action="/search" id="form_search">
                        <input type="text" placeholder="검색어를 입력하세요">
                        <button type="button" id="btn_srch" style="right: 396px;">
                            <img src="../../resources/static/images/image_srch_button.png" width="30" height="30" alt="검색용 돋보기 이미지">
                        </button>
                    </form>
                </span>

            </div>
            <div class="search_tab">
                <ul class="search_tabnav">
                    <li><a href="#tab01">지역</a></li>
                    <li><a href="#tab02">캠핑종류</a></li>
                    <li><a href="#tab03">기본옵션</a></li>
                    <li><a href="#tab04">상세옵션</a></li>
                    <li>
                        <button type="button" class="btn_srch" style="right: 396px;">
                            <img src="../../resources/static/images/image_reset.png" width="30" height="30" alt="검색용 돋보기 이미지">

                        </button>
                    </li>

                </ul>
                <div class="search_tabcontent">
                    <div id="tab01">
                        <div class="container text-center">
                            <div class="col">
                                <div id="suggestion_block">
                                    <label id="suggestion_area"><span class="txt">타닥타닥 추천!</span></label>
                                    <button type="button" class="btn btn-outline-danger">여기어때?</button>
                                    <button type="button" class="btn btn-outline-danger">저기어때?</button>
                                    <button type="button" class="btn btn-outline-danger">서울 강남구</button>
                                    <!-- 여기 버튼 마우스 오버하면 색은 변하는데 선택이 안된다-->
                                </div>
                                <div class="col">
                                    <div class="container text-center">
                                        <div class="row row-cols-5">
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">서울</span></label>
                                            </div>
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">인천</span></label>
                                            </div>
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">경기</span></label>
                                            </div>
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">부산</span></label>
                                            </div>
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">울산</span></label>
                                            </div>
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">대구</span></label>
                                            </div>
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">광주</span></label>
                                            </div>
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">대전</span></label>
                                            </div>
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">제주</span></label>
                                            </div>
                                            <div class="area_block">
                                                <input type="checkbox" data-check-type="">
                                                <label class="at1"><span class="txt">기타</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div id="tab02">
                        <div class="container text-center">
                            <div class="row row-cols-4">
                                <div class="camping_type_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">오토캠핑</span></label>
                                </div>
                                <div class="camping_type_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">글램핑</span></label>
                                </div>
                                <div class="camping_type_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">카라반</span></label>
                                </div>
                                <div class="camping_type_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">기타(펜션)</span></label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="tab03">
                        <div class="container text-center">
                            <div class="row row-cols-3" >
                                <div class="option_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">샤워실</span></label>
                                </div>
                                <div class="option_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">매점</span></label>
                                </div>
                                <div class="option_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">와이파이</span></label>
                                </div>
                                <div class="option_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">주차장</span></label>
                                </div>
                                <div class="option_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">반려동물</span></label>
                                </div>
                                <div class="option_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">주차장</span></label>
                                </div>
                                <div class="option_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">장비대여</span></label>
                                </div>
                                <div class="option_block">
                                    <input type="checkbox" data-check-type="">
                                    <label class="at1"><span class="txt">기본장비</span></label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="tab04">
                        <div class="row row-cols-3" >
                            <div class="option_block">
                                <input type="checkbox" data-check-type="">
                                <label class="at1"><span class="txt">바닥</span></label>
                            </div>
                            <div class="option_block">
                                <input type="checkbox" data-check-type="">
                                <label class="at1"><span class="txt">입지형태(?)</span></label>
                            </div>
                            <div class="option_block">
                                <input type="checkbox" data-check-type="">
                                <label class="at1"><span class="txt">부가시설</span></label>
                            </div>
                            <div class="option_block">
                                <input type="checkbox" data-check-type="">
                                <label class="at1"><span class="txt">레저</span></label>
                            </div>
                            <div class="option_block">
                                <input type="checkbox" data-check-type="">
                                <label class="at1"><span class="txt">트레일러</span></label>
                            </div>
                            <div class="option_block">
                                <input type="checkbox" data-check-type="">
                                <label class="at1"><span class="txt">카라반 진입</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search_list_wrap">
                <div class="container" data-v-f012d516="">
                     <div class="search_list_sort_tools">
                        <div class="row" id="search_tool_block">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="styled-select-filters">
                                    <select name="sort_rank" id="sort_rank">
                                        <option value selected>평점순</option>
                                        <option value="lower">낮은 평점순</option>
                                        <option value="higher">높은 평점순</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="styled-select-filters">
                                    <select name="sort_price" id="sort_price">
                                        <option value selected>가격순</option>
                                        <option value="lower">낮은 가격순</option>
                                        <option value="higher">높은 가격순</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="sarch_cards-container">
                        <!-- 데이터베이스에서 가져오면 여기 텅비던데..?-->

                        <!-- 여기서부터 리스트중 하나의 요소-->
                        <div class="card" id="search_card-0">
                            <div class="search_list">
                                <div class="row">

                                    <div class="col-md-4 col-sm-4">
                                        <div class="photo">
                                            <img src="../../resources/static/images/camp_list1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div>
                                            <h3 class="camp_name">캠핑장1</h3>
                                        </div>
                                        <div>
                                            <span>서울시 강남구</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div>
                                            <span>
                                                8.9
                                            </span>
                                            <span>
                                                (787)
                                            </span>
                                        </div>
                                        <div>
                                            230,000원
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="search_card-1">
                            <div class="search_list">
                                <div class="row">
                                    <!-- 여기가 리스트중 하나의 요소-->
                                    <div class="col-md-4 col-sm-4">
                                        <div class="photo">
                                            <img src="../../resources/static/images/camp_list2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <div>
                                            <h3 class="camp_name">캠핑장2</h3>
                                        </div>
                                        <div>
                                            <span>서울시 도봉구</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div>
                                            <span>
                                                8.1
                                            </span>
                                            <span>
                                                (433)
                                            </span>
                                        </div>
                                        <div>
                                            190,000원
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>


    </section>

    <!-- common footer 예시 -->
    <footer include-html="./common/footer.html"></footer>

    </div>
</body>


<script src="../../resources/static/js/searchpage.js"></script>

<script>
    includeHTML( function () {
        includeRouter( function () {
            // do something in the future
        });
    });
</script>

</html>