<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampUs</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- common 사용시 필요한 파일 링크 -->
    <link rel="stylesheet" href="../../resources/static/css/common.css">
    <link rel="stylesheet" href="../../resources/static/css/reset.css">
    <link rel="stylesheet" href="../../resources/static/css/searchpage.css">
    <script src="../../resources/static/js/common.js"></script>
    <script src="../../resources/static/js/searchpage.js"></script>

</head>
<body>

    <!-- common nav 예시 -->
    <nav include-html="./common/nav.html"></nav>

    <section style="height: 500px;">

        <div>
            <div>
                <span class="btn_date">
                   <!-- <span class="date_view">
                        <b>3.29 ~ 3.30</b>
                        <em>&nbsp;·&nbsp;1박</em>
                    </span>-->
                    날짜 <input type="date">
                </span>
                <span>인원</span>
                <!--<div class="cnt_people" data-min="2" data-max="10" data-def="2">-->
                <button type="button" class="disable dn">-</button>
                <span>2</span>
                <button type="button" class=" up">+</button>
                <button type="button" class="btn_srch" style="right: 396px;">
                    <img src="../../resources/static/images/image_srch_button.png" width="30" height="30" alt="검색용 돋보기 이미지">
                    <!--돋보기 이미지의 크기가 div크기에 영향을 받도록 해야한다. 절대값말고 상대값이어야함-->
                    <!--버튼 배경색 어떻게 한꺼번에 하얗게..?-->
                </button>
            </div>
        </div>
        <div class="tab">
            <ul class="tabnav">
                <li><a href="#tab01">탭1</a></li>
                <li><a href="#tab02">탭2</a></li>
            </ul>
            <div class="tabcontent">
                <div id="tab01">tab1 content</div>
                <div id="tab02">tab2 content</div>
            </div>
        </div>
        <div>
            <span>1</span>
        </div>





    </section>

    <!-- common footer 예시 -->
    <footer include-html="./common/footer.html"></footer>

</body>

<script>
    includeHTML( function () {
        includeRouter( function () {
            // do something in the future
        });
    });
</script>

</html>